In [1]:
# an image here

## Creation

class tuple([iterable]): Tuples may be constructed in a number of ways:

- Using a pair of parentheses to denote the empty tuple: ()

- Using a trailing comma for a singleton tuple: a, or (a,)

- Separating items with commas: a, b, c or (a, b, c)

- Using the tuple() built-in: tuple() or tuple(iterable)

 

Note that it is actually the comma which makes a tuple, not the parentheses. The parentheses are optional, except in the empty tuple case, or when they are needed to avoid syntactic ambiguity. For example, f(a, b, c) is a function call with three arguments, while f((a, b, c)) is a function call with a 3-tuple as the sole argument.

In [34]:
# A tuple with homogeneous it - with parentheses
(1, 2, 3)

(1, 2, 3)

In [33]:
# A tuple with homogeneous it - without parentheses
comma_seperated_tuple = 1, 2, 3
comma_seperated_tuple

(1, 2, 3)

In [35]:
# A tuple with mixed data types - with parentheses

def mixed():
    pass

import math

a = 2.0
b = 'hello'
c = 50

(a, b, c, True, math, mixed)

(2.0,
 'hello',
 50,
 True,
 <module 'math' from '/home/afsharino/anaconda3/envs/CI/lib/python3.11/lib-dynload/math.cpython-311-x86_64-linux-gnu.so'>,
 <function __main__.mixed()>)

In [28]:
(x for x in (1, 2, 3))

In [29]:
a,

(2.0,)

In [30]:
(a,)

(2.0,)

In [31]:
(a)

2.0

The constructor builds a tuple whose items are the same and in the same order as iterableâ€™s items. iterable may be either a sequence, a container that supports iteration, or an iterator object. If iterable is already a tuple, it is returned unchanged. For example, tuple('abc') returns ('a', 'b', 'c') and tuple( [1, 2, 3] ) returns (1, 2, 3).

In [22]:
tuple('abc')

('a', 'b', 'c')

In [23]:
tuple( [1, 2, 3] )

(1, 2, 3)

If no argument is given, the constructor creates a new empty tuple, ().

In [36]:
tuple()

()

In [37]:
()

()

In [41]:
range_tuple = tuple(range(5))
range_tuple

(0, 1, 2, 3, 4)

nested tuple

In [39]:
nested_tuple = (1, 2, 3, (4, 5), (6, 7, (8, 9)))

## Common Built-in Functions

In [43]:
len(range_tuple)

5

In [44]:
max(range_tuple)

4

In [45]:
min(range_tuple)

0

Access tuple elements

<img src="../../../images/python/data types/list/indexing.webp" width="800">

In [47]:
sample_tuple = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
sample_tuple

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [48]:
sample_tuple[0], sample_tuple[-6]

('foo', 'foo')

In [50]:
sample_tuple[2]

'baz'

In [51]:
# stop < start
sample_tuple[-1:-4]

()

In [52]:
# start < stop
sample_tuple[-6:-4]

('foo', 'bar')

In [55]:
# iterate in reverse order
sample_tuple[-1:2:-1]

('corge', 'quux', 'qux')

In [56]:
# Reverse tuple
sample_tuple[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

In [57]:
# start: inclusive, stop: exclusive
sample_tuple[:5]

('foo', 'bar', 'baz', 'qux', 'quux')

## Update Elements

One significant distinction to remember is, unlike lists, you cannot change the elements of a tuple after it is defined. Attempting to do so will result in a `TypeError`.

In [58]:
print(sample_tuple)
sample_tuple[2] = 'python'
sample_tuple

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

TypeError: 'tuple' object does not support item assignment

explain about immitublality

In [60]:
my_info = ("Jane Doe", "123 Elm Street", 28)

In [61]:
my_info[2] = 29  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [63]:
my_info[:2] + (29,)

('Jane Doe', '123 Elm Street', 29)

so due to the immiutabilty add, remove is not availabe

## Common Tuple operation

In [64]:
## Concatenation

In [65]:
tuple_1 = [1, 2.0, 'hi']
tuple_2 = [3, (6, 7)]
combination = tuple_1 + tuple_2
combination

[1, 2.0, 'hi', 3, (6, 7)]

What's the difference with extend?

extend is inplace

In [67]:
tuple_1, tuple_2

([1, 2.0, 'hi', 1, 2.0, 'hi'], [3, (6, 7)])

In [68]:
tuple_1.extend(tuple_2)

In [69]:
tuple_1 + tuple_2

[1, 2.0, 'hi', 1, 2.0, 'hi', 3, (6, 7), 3, (6, 7)]

## Replication

## Membership testing

In [71]:
products =  ('laptop', 'iphone', 'mouse', 'keyboard', 'earbuds', 'laptop', 'iwatch')

In [72]:
'iphone' in products

True

In [73]:
'ipad' not in products

True

## Finding the index of element

In [74]:
products.index('iphone')

1

In [75]:
products.index('ipad')

ValueError: tuple.index(x): x not in tuple

### Count number of occurence of an element in list

In [76]:
products.count('laptop')

2

In [77]:
products.count('ipad')

0

### Reversing the list

Tuples also do not have a `.reverse()` method and you can use the built-in `reversed()` function to reverse a tuple and return a new tuple with the reversed elements:

In [79]:
products.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [81]:
reversed(products)

In [82]:
tuple(reversed(products))

('iwatch', 'laptop', 'earbuds', 'keyboard', 'mouse', 'iphone', 'laptop')

## sorting tuple

Tuples do not have a `.sort()` method like lists do since they are immutable. However, you can use the built-in `sorted()` function to sort a tuple and return a new tuple with the sorted elements:

In [83]:
products.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [95]:
integers = 1, 2, 5, 3, 5, 7, 4

In [96]:
sorted(integers)

[1, 2, 3, 4, 5, 5, 7]

In [97]:
tuple_1 = (1, 2, 3, 4)
tuple_2 = tuple_1
tuple_1, tuple_2

((1, 2, 3, 4), (1, 2, 3, 4))

In [98]:
id(tuple_1) == id(tuple_2)

True

In [99]:
tuple_2 = tuple_1[:]

In [100]:
id(tuple_1) == id(tuple_2)

True